*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(assets/background.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo{
    /* tamanho padronizado. */
    width: 110px;
}

nav ul {
    /* deixa todos os items com o mesmo comprimento. */
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    /* Deixa a barra de navegação especificamente alinhada, mesmo que o box anterior esteja em flex. */
    list-style: none;
    margin: 10px 25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ff5361;
    text-shadow: 2px 2px 8px #000000;
}

.upload-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    /* Ao invés de definir tamanhos, como height e width - usar "padding" */
    border-radius: 30px;
    margin-left: 25px;
    transition: .2s;
}

.upload-btn:hover{
    transform: scale(0.9);
}

/* Código para colocar texto principal no meio. */
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content input{
    width: 90%;
    max-width: 840px;
    height: 55px;
    border-radius: 30px;
    border: none;
    padding: 0 30px;
    outline: none;
    /* Acima, remove a lirda de borda, ao clicar! */
    margin: 20px 0;
    font-size: 16px;
}

::placeholder{
    font-weight: 500;
    font-size: 16px;
}

.content a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.content a:hover{
    color: #ff5361;
}

.gallery{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 40px 0;
}

.gallery h2{
    color: #535353;
    font-weight: 500;
    font-size: 26px;
    margin: 20px 12px;
}

.masonary{
    display: flex;
    flex-flow: column wrap;
    max-height: 1600px;
    margin: auto;
    width: 100%;
}

.m-block{
    width: 33.33%;
    padding: 12px;
    box-sizing: border-box;
}

.m-block img{
    width: 100%;
    cursor: pointer;
    transition: transform .3s;
}

.m-block img:hover{
    transform: scale(1.05);
}

.explore-btn{
    display: block;
    width: 50%;
    max-width: 350px;
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 0;
    border-radius: 30px;
    margin: 60px auto;
    font-size: 18px;
    transition: transform 0.3s;
}

.explore-btn:hover{
    transform: scale(0.9);
}

.customer{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 80px 0;
}

.customer h2{
    color: #535353;
    font-weight: 500;
    font-size: 30px;
    margin: 60px 0;
    text-align: center;
}

.customer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-col{
    flex-basis: 25%;
    text-align: center;
}

.customer-col img{
    /* Tamanho em relação ao pai. */
    width: 90%;
    cursor: pointer;
    transition: transform .3s;
}

.customer-col img:hover{
    transform: translateY(-10px);
}

.about{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 120px 0;
}

.about h2{
    color: #535353;
    font-weight: 500;
    font-size: 30px;
    margin: 60px 0;
    text-align: center;
}

.about p{
    color: #535353;
    font-size: 17px;
    line-height: 30px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: #ebebeb;
    color: #535353;
    font-size: 14px;
}